@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<div>
    <h1>About</h1>
    <p>This is a website I created to act as a central place to host information about any worlds I've created. Whether that world acts as the setting for a tabletop campaign or, a story I'm writing, or something else altogether, there is a lot that goes into building a world. So I've found that having a place both to document things and to provide information to those who care about it is very useful.</p>

    <p>Furthermore, hosting this information as a website comes with a lot of advantages. In addition to simply being easily accessible and giving me an excuse to program something, it also allows me to share information in ways that aren't possible in any other format. If the mood strikes me, then I can even develop web applications that supplement these worlds in ways beyond the simple sharing of information.</p>

    <p>In short, this is a personal website I created with my hobbies in mind. When it comes to those partaking in whatever world it is that I've created though, I would also say it is meant to be a gift to them.</p>
</div>