@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>I ultimately created this website for two reasons.</p>

<p>The first is that as a writer and gamemaster, I wanted a place to host information. This is going to be especially relevant for TTRPG's I'm running, because my players need information about stuff like the setting, how to make a character, and possibly some basic information about game mechanics. I think the best way to lay out information like this is to have different sections of the website being dedicated to different worlds, hence the theme of the site.</p>

<p>The second is that I wanted something I'll enjoy working on that can act as a professional portfolio. So if you happen to be someone who's curious about how I made this website, you can find my GitHub repository <a href="https://github.com/janliggett/World-Hub">here</a>; the GitHub repository is also where I'll be sharing more technical information about the website and my goals for it.</p>

<p>For most gamemasters, I don't doubt that creating a website would be excessive, because you can host information through something like Google Docs much quicker and without having to learn a new skill. But given my technical background, I think a website would make sense even if I didn't want a portfolio. After all, hosting this information as a website comes with many advantages that may not be immediately obvious.</p>

<p>In short, this is a website I created with both my hobbies and my career in mind. Readability, accessibility, and growing my skills are major goals of the website, so any feedback on that front is always welcomed.</p>