@{
    ViewData["Title"] = "Akalushan North";
    Layout = "_AshaLayout.cshtml";
}

<h2>The Akalushan North</h2>
<p>It’s said that during the times of the Celestial Emperor, Kalshan was a great empire that stretched far into the north. Most believe Kalshan became too weak to survive in the north after the Celestial Emperor’s disappearance, but no-one knows for sure.</p>
<p>What is known is that the Akalushan North is dangerous enough to be considered uninhabitable for the average person. Dangerous monsters are quick to kill any would-be settlers who dare to venture into the more verdant parts of the Akalushan North, while other parts of it simply lack the nutrition to sustain a population. The ruins adventurers have spoken of seem like proof that people lived here once, but for now the wilderness remains untamed.</p>