@{
    ViewData["Title"] = "Akalushan North";
    Layout = "~/Views/Asha/_AshaLayout.cshtml";
}

<h1>The Akalushan North</h1>
<p>To the north of Kalshan there lies a vast unexplored land known as the Akalushan North. Although there are people who live there, monsters in the north are far stronger than anything a person will find in Kalshan, </p>

<h2>Akalushan Empire</h2>
<p>Long ago, the Akalushan Empire was a name feared by everyone in Asha. At the time ruled over by the <a href="~/WorldInfo/Asha/Deities#kalash">Celestial Emperor</a>, history books claim that the Akalushan Empire was big enough to stretch across Akalush and powerful enough that no other nation dared to challenge it. They controlled Asha at the time, which unfortunately meant humans were ever in danger of being enslaved and even a friendly fiend would be killed on sight.</p>
<p>While much smaller and less influential in the modern day, it nonetheless remains a threat to the nation of <a href="~/WorldInfo/Asha/Kalshan">Kalshan</a> The empire hasn't forgotten its days of glory and longs to reclaim Kalshan as its own. Perhaps the only thing stopping an all out war is Kalshan's uneasy alliance with <a href="~/WorldInfo/Asha/CEU">The CEU</a> and <a href="~/WorldInfo/Asha/Vindral">Vindral</a>, but this hasn't stopped the empire from smaller skirmishes.</p>

@* <h2>The Akalushan North</h2>
<p>It’s said that during the times of the Celestial Emperor, Kalshan was a great empire that stretched far into the north. Most believe Kalshan became too weak to survive in the north after the Celestial Emperor’s disappearance, but no-one knows for sure.</p>
<p>What is known is that the Akalushan North is dangerous enough to be considered uninhabitable for the average person. Dangerous monsters are quick to kill any would-be settlers who dare to venture into the more verdant parts of the Akalushan North, while other parts of it simply lack the nutrition to sustain a population. The ruins adventurers have spoken of seem like proof that people lived here once, but for now the wilderness remains untamed.</p> *@