@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Asha/_AshaLayout.cshtml";
}



<h1>Greater Spirits</h1>
<p>Western Spiritualism - often just called Spiritualism in Seishun - is the belief that spirits inhabit all things found naturally in nature. While some spiritualists worship a specific spirit, most revere nature itself and view it as sacred. While not commonly practiced outside of The CEU, it remains the majority religion on that continent.</p>
<p>Because of how spiritualists practice their faith, it's unusual for them to have a central place of worship. Instead they build shrines to venerate the spirits, which the people of Seishun are known to leave offerings at.</p>

<h2>Nessthiss</h2>
<p>Often called the Lady of Dreams, Nessthiss is a woman known to appear in an oracle’s dreams alongside a massive white snake. She rarely speaks, yet when she does, she always imparts some great truth.</p>
<p>She represents secrets, knowledge, and unanswered questions. She is generally associated with white snakes, which are considered sacred by her followers. While she's said to rarely speak, it's said that she always imparts some great truth when she does.</p>
<p><b>Edicts</b>: Pursuit of knowledge, keeping secrets</p>
<p><b>Anathema</b>: Killing white snakes</p>
<p><b>Primary Region</b>: Seishun, but it's found anywhere</p>

<h1 id="SacredCraftsmen">The Sacred Craftsmen</h1>
<p>The Sacred Craftsmen refers to three gods said to hold dominion over the mountains in Asha and the metals within.</p>
<p>They are legendary craftsmen as much as they are gods, who are said to be responsible for legendary items of unknown make. When a volcano erupts it is said to be the work of Thierna, lighting the forge for one of her creations. When the earth rumbles, it is the work of Adamant transforming iron into the sacred metal that shares his name. When a blacksmith finishes a work unlike any other, he can thank Leabhar, The Mentor, for blessing him in his craft.</p>

<h2>Thierna</h2>
<p>An immortal blacksmith who forges grand creations in Asha's volcanoes, Thierna is said to be responsible for certain powerful items of unknown make. Nothing brings her more joy than seeing what mortals create.</p>
<p><b>Edicts</b>: Passion for a craft, creativity, inspiring others in their work</p>
<p><b>Anathema</b>: Insulting a person's hard work, defacing art</p>
<p><b>Primary Region</b>: Vindral</p>

<h2>Adamant</h2>
<p>A massive golem said to burrow through the earth. When there’s an earthquake, it’s said to be Adamant transforming iron into the metal sharing his name.</p>
<p><b>Edicts</b>: </p>
<p><b>Anathema</b>: </p>
<p><b>Primary Region</b>: </p>

<h2>Leabhar</h2>
<p>A wise old sage said to be responsible for some of the truly legendary items found in Asha.</p>
<p><b>Edicts</b>: </p>
<p><b>Anathema</b>: </p>
<p><b>Primary Region</b>: </p>


<h1 id="CelestialLords">The Celestial Lords</h1>
<p>Said to have once mortal men and women, the five Celestial Lords ascended to godhood after slaying Kalash.</p>

<h2>Parnell</h2>
<p>Said to have been a free spirit in life who sailed the seas, Parnell is often worshiped by sailors and free spirits alike.</p>
<p><b>Edicts</b>: </p>
<p><b>Anathema</b>: slavery, upholding unjust laws</p>
<p><b>Primary Region</b>: Kalshan, though he has a large following in Darjal</p>

<h2>Jorgost</h2>
<p>Often called The Mad Scientist, it's said that Jorgost was a legendary alchemist in life who</p>
<p><b>Edicts</b>: </p>
<p><b>Anathema</b>: </p>
<p><b>Primary Region</b>: </p>

<h2>Filler</h2>
<p>Lorem ipsum</p>
<p><b>Edicts</b>: </p>
<p><b>Anathema</b>: </p>
<p><b>Primary Region</b>: </p>

<h2>Filler</h2>
<p>Lorem ipsum</p>
<p><b>Edicts</b>: </p>
<p><b>Anathema</b>: </p>
<p><b>Primary Region</b>: </p>

<h2>Filler</h2>
<p>Lorem ipsum</p>
<p><b>Edicts</b>: </p>
<p><b>Anathema</b>: </p>
<p><b>Primary Region</b>: </p>



<h1>Infernal Deities</h1>
<h2 id="Ekmire">Ekmire</h2>
<p>Ekmire, the Under Prince, is a protector of the weak who lurks in the dark. Some believe him to be a malevolent force who would deliver Asha to the hells, but most would call him a hero willing to fight for anyone in need.</p>
<p><b>Edicts</b>: Protecting the weak, vigilante justice</p>
<p><b>Anathema</b>: Taking away a person's free will, bullying the weak, harming a friendly fiend</p>
<p><b>Primary Region</b>: Vindral</p>

<h2 id="Tarkir">Tarkir</h2>
<p>Often called the Infernal Conqueror, Tarkir believes that mortals need a strong hand to tell them what to do. He’s convinced that he is the strong hand Asha needs and is eager to conquer it.</p>
<p><b>Edicts</b>: Upholding dictatorships</p>
<p><b>Anathema</b>: Freeing criminals</p>
<p><b>Primary Region</b>: Drechen Expanse</p>

<h1>Dead Deities</h1>
<h2 id="kalash">Kalash</h2>
<p>Kalash - more commonly known as the Celestial Emperor - once ruled over all of Akalush as well as the celestial realm. Believing humans to be an immortal species that needed a guiding hand to tell them what to do, he sent celestials to Asha to rule over the mortals he believed too foolish to make the right decisions.</p>
<p><b>Edicts</b>:  Enslaving humans, killing fiends, upholding law</p>
<p><b>Anathema</b>: Killing aasimar</p>
<p><b>Primary Region</b>: Kalshan</p>
@* <p>The Celestial Emperor is often depicted as a sword gleaming with radiant light. The most common order serving him is the Order of Light, whose goal is to vanquish devils, enslave the human race, and guide people onto what they believe to be the proper path. </p>
<p>He's said to rule over the Empire of Light by his followers, but those outside of this religion tend to be skeptical of this claim.</p> *@

<h1>Other Deities</h1>
<p>Some adventurers may hold religious beliefs that fall outside the norm. Perhaps they focus solely on a specific one of Seishun’s lesser known spirits or they worship a lesser known god whose presence is nonetheless felt across all of Asha. Regardless of what they believe, chances are they’ve got a community of like-minded believers somewhere in Asha.</p>
<p><b>Gameplay</b>: When creating a custom deity, their edicts and anathemas might be relevant if you're playing a cleric. Tell me about the deity, so that I can offer suggestions, assist with creating their cleric spells, and stuff like that.</p>