@{
    ViewData["Title"] = "Groups";
    Layout = "~/Views/Asha/_AshaLayout.cshtml";
}

<h1>Major Organizations</h1>
<p></p>
<h2 id="wayfarers">The Wayfarers</h2>
<p>The Wayfarers are an organization of adventurers who seem to have a branch in every major settlement within the Three Nations. Their primary goal is to research lost ruins and explore Asha, but they’re also known to protect people from monsters without any expectation of payment. For this reason and more, The Wayfarers are often seen as a benevolent group by the common people.</p>
<p>In addition to these goals, they’ve also made it their mission to educate people in the language known as Common. This language was created to give adventurers within the Three Nations an easy way to share information with one another, so The Wayfarer’s really try hard to make sure every adventurer knows it.</p>

<h2>Mandiran Hunters</h2>
<p>The Mandiran Hunters are a group of monster hunters who often find themselves employed by Kalshan or Vindral’s governments to eliminate dangerous monsters that wander into their borders. Their main headquarters are located in Mandir, but Mandiran Hunters can be found almost anywhere in Kalshan or Vindral.</p>
<p>They are known for being motivated by money and will often not work for free, even with people’s lives at stake. This has earned them a bad reputation, but their profession nonetheless remains an invaluable commodity that they’re eager to bank on.</p>

<h1>Families of Note</h1>
<p></p>
<h2 id="darja">The Darja Clan</h2>
<p>The Darja are a mostly-human clan that has a presence throughout the Three Nations. For as long as anyone can remember they have sailed the seas as honest sailors, curious adventurers, and even as savage pirates.</p>
<p>They control an independent city in Seishun and it’s said they have settlements elsewhere as well.</p>
<h2>Vindt Family</h2>
<p>Having long been the royal family in Vindral, there perhaps isn't a single name more well known there than Vindt. Even if someone isn't directly in line of succession to the throne, everyone knows the Vindt name means a person is noble of birth and deserves respect.</p>

<h1>Religious Groups</h1>
<p></p>
<h2>Temple of Five</h2>
<p>The Temple of the Five is a religious group that follows the Celestial Lords. Currently the largest religious organization within Kalshan, the Temple of Five holds a lot of power within Kalshan.</p>

<h2>Tarkir’s Chosen</h2>
<p>Tarkir’s Chosen are an enigmatic cult who seem to have a presence throughout all of Drechen. Like many of Tarkir’s followers, they believe that Tarkir will someday arrive in Asha to usher in a new age.</p>
<p>Apart from that, little is known about them. However, Vindral’s law enforcement have managed to gather the following:</p>
<ul>
    <li>Although many within the cult are true infernals, they have an alarming amount of believers from other races.</li>
    <li>Those higher in the cult's hierarchy keep their identities secret from those below them, making it difficult to gather information.</li>
</ul>

<p>Suffice to say, they are considered a dangerous group and anyone in Vindral is encouraged to report any cult activity to local law enforcement.</p>

<h2>The Order of Light</h2>
<p>Amongst Kalash’s worshipers, there are none more infamous than the cult known as the Order of Light. They believe that the Celestial Emperor was a divine being who descended from the heavens to make humans “repent for their crimes” and “to steer mortals onto the right path.” Furthermore, they view infernals as evil invaders who must be purged from Asha.</p>
<p>In layman’s terms, they believe humans are meant to be enslaved to those of celestial heritage and that infernals should be killed on sight. Thankfully they appear to be a small group these days and are rarely seen in the modern day, but according to Kalshan’s history books, they once controlled the nation during the days of the Celestial Emperor’s rule. Regardless of how someone views Kalshan, most Kalshanese will agree that it’s shameful such a group controlled the nation in the past.</p>
<p>As part of an initiative to right their wrongs, Kalshan has outlawed this cult as well as any denial of this dark stain on the nation’s history.</p>
