@{
    ViewData["Title"] = "Kalshan";
    Layout = "~/Views/Asha/_AshaLayout.cshtml";
}

@* 
General Aesthetic: Middle Eastern and Roman
*@

<h1>Kalshan</h1>
<p>Long ago, Kalshan seceded from the <a href="~/WorldInfo/Asha/AkalushanNorth">Akalushan Empire</a>. Now a nation that collectively disagrees with the empire's views, Kalshan has long strived to correct the wrongs committed by its people in the past.</p>
<p></p>
<h2>Climate</h2>
<p>Unlike <a href="~/WorldInfo/Asha/Vindral">Vindral</a> and <a href="~/WorldInfo/Asha/CEU">The CEU</a>, Kalshan does not have a temperate environment. Instead it's dominated by rainforests, savannahs, and wetlands.</p>