@{
    ViewData["Title"] = "Kalshan";
    Layout = "~/Views/Asha/_AshaLayout.cshtml";
}

@* 
General Aesthetic: Middle Eastern and Roman
*@

<h1>Kalshan</h1>
<p>Kalshan is the northnmost member of the Three Nations. Like the <a href="~/WorldInfo/Asha/AkalushanNorth">Akalushan Empire</a> to its north, it is a nation of celestials, so most of the people you find here will have the silver or golden eyes characteristic of the species. Yet unlike the <a href="~/WorldInfo/Asha/AkalushanNorth">Akalushan Empire</a>, Kalshan has long strived for equality between Asha's species and often acts as a safehaven for humans escaping from the <a href="~/WorldInfo/Asha/AkalushanNorth">Akalushan Empire</a>.</p>

<h2>Climate</h2>
<p>Unlike <a href="~/WorldInfo/Asha/Vindral">Vindral</a> and <a href="~/WorldInfo/Asha/CEU">The CEU</a>, Kalshan has a tropical environment. Although it's believed to be home to Asha's largest tropical rainforest, one can also find savannahs, wetlands, and other biomes throughout the nation.</p>

<h2>Culture</h2>
<p>Despite its dedication to working with other nations and correcting the wrongs committed by its people in the past, remnants of its past do linger. The nation continues to be ruled over by a king of celestial origin and nobility within the nation continue to live luxuriously in comparison to the average citizen. People of all backgrounds have found themselves working their way into the upper crust of Kalshanese society, however, which has led many to view it as a land of opportunity.</p>
<p>Due to its humid tropical environment, the people here tend to prefer light, breathable clothes and often wear bamboo sun hats to stave off the sun. Light colors are popular, so it's common to see people wearing white, cream, or other lightly colored cotton clothes.</p>
<h3>Religion</h3>
<p>The people of Kalshan mainly follow <a href="~/WorldInfo/Asha/Deities#CelestialLords">The Celestial Lords</a>, though people can be found openly worshiping other deities as well. The only deity not openly worshiped within its borders is <a href="~/WorldInfo/Asha/Deities#kalash">The Celestial Emperor</a>, which is in good part due to his worship being illegal in Kalshan.</p>
<p>While one can find shrines, most people prefer to worship in temples. It's common for smaller communities to form around a particular temple.</p>

<h2>Brief History</h2>
<p>Long ago, Kalshan seceded from the <a href="~/WorldInfo/Asha/AkalushanNorth">Akalushan Empire</a>. Ever since it has worked tirelessly to disavow itself of the empire's views and correct the wrongs committed by its people in the past.</p>
<p>Despite this, it wasn't always on good terms with the rest of <a href="~/Asha">The Three Nations</a>. It once fought a long war with <a href="~/WorldInfo/Asha/Vindral">Vindral</a> over <a href="~/Asha#Mandir">Mandir</a>, but the two nations eventually decided to jointly form a new country as a gesture of peace. And while it never warred with <a href="~/WorldInfo/Asha/CEU">The CEU</a>, it did take Kalshan a long time to earn that nation's trust thanks in good part to the former tyranny of the Akalushan Empire.</p>
