@{
    ViewData["Title"] = "Seishunese West";
    Layout = "~/Views/Asha/_AshaLayout.cshtml";
}

<p>Greetings! My name is Rydel Daemeris and I've been hired by the Citizen's Journal to talk about the Seishunese West. So if you're reading this, then I can only assume you picked up a copy.</p>
<p>Anyway, the Seishunese West. Wow is it a weird place. For as long as I can remember people have been saying the west is the gateway to the afterlife, the realm of fey, or even our realm crosses over into the shadow realm. I certainly hope these are exaggerations, but whether they are or not, everyone in <a asp-area="WorldInfo" asp-controller="Asha" asp-action="CEU">The CEU</a> knows that the west is a dangerous place full of spirits, monsters, and the undead.</p>
<p>So if you're a civilian in Esalona, be thankful you've got powerful warriors like our esteemed Commander Fenrel to protect you. If you're an adventurer with a death wish though, you'll certainly find some interesting stuff out there.</p>

<h2>Known Groups</h2>
<p>Despite the dangers of the west, there are people who call that place their home. However, you shouldn't assume they're friendly. The only group I'd trust is the Lisharans and even then, I'd be careful not to get on their bad side. Everyone else out there seems to be a criminal, a savage, or a monster that would want to eat me, so I'll be sticking to Esalona personally.</p>

<h3 id="lishara">The City Lishara</h3>
<p>It's long been accepted that there are two ways to reach Lishara: with the help of a guide or to stumble upon it while utterly lost. Everyone here in Esalona knows the place exists, but actually reaching it is no small feat. 
<p>If the tales are to be believed, then the city seems be a veritable fortress that's ruled over a powerful archmage. It's said that even the most humble commoner there knows a spell or two, which is quite impressive, since we have a hard enough time just getting people to prestidigitate. So they seem to be quite gifted when it comes to magic.</p>
<p>Any adventurer who stumbles across it may find sanctuary there, so I will say Lishara is probably the safest place out there. The challenge is finding it before the wilderness claims you.</p>

<h3>The Witch's Cult</h3>
<p>Do you know what's worse than a bunch of occultist weirdos performing strange rituals in the wilderness? Try occultist weirdos who follow the damned Witch of the West.</p>
<p>If you've been living under a rock and don't know who that is, know that tales of the witch are what mothers tell their children to keep them from staying out after dark. Know that her crimes include kidnapping children, turning Esalonians into pigs, and using her foul magic to cause misfortune everywhere she goes. If you ever find yourself experiencing a long string of bad luck, then it could very well mean the witch has set her sights on you.</p>
<p>The witch and her cult have been around far longer than any normal elf has a right to be, so it's entirely possible she's a malevolent spirit or some other creature beyond our comprehension.</p>

<h3>Savages</h3>
<p>There are tribes of barbarian elves who are, simply put, savages. They run around half naked and kill monsters with strange weapons that seem to be made out of monster parts.</p>
<p>If them being strong enough to kill western monsters isn't bad enough, know that there's no communicating with them either. They don't seem to understand any known language and they're supposedly pretty quick to anger. So if you happen to see half naked men running around out there, I'd suggest you turn tail and run.</p>

<h2>Monsters of the West</h2>
<p>I'm no export on monsters, which is why I've interviewed people who are. So you can rest assured that some of the finest minds in all of Esalona have given their input on what I'm about to write.</p>
<p>First up I interviewed none other than Commander Fenrel and his soldiers over at Fort Dragonstone. And if they've had any one thing to say about the monsters of the west, it's that they are powerful. Far more powerful than any monsters you're likely to find in The CEU at least, which is no doubt thanks to the efforts of our brave soldiers and adventurers.</p>

<p>While these brave soldiers have plenty of experience fighting monsters though, they aren't scholars. So I've also talked to Professor Shara over at the Arcane Institute in Esalona. If you're not familiar with her work, she's possibly the most respected expert on the west in all of Esalona.</p>
<p>Now everyone knows the west has plenty of ghosts, zombies, and other undead, but no-one really understands why there are so many of them wandering the west. And unfortunately, Professor Shara doesn't really know either. My money is on The Witch's Cult being responsible, but she isn't so sure. She really wanted to emphasize that the cult's motives are unknown, even if it seems obvious enough that chaos in of itself is their motive.</p>

<p>When it came to dragons though, I really saw the professor's eyes light up. Now occasionally we do get a dragon terrorizing the countryside here in The CEU, but according to the professor, these dragons have been mere whelps compared to the kind you might find out west. Supposedly there are ancient and highly intelligent dragons out there, one of which the professor supposedly befriended back in her adventuring days.</p>

<p>Last up we talked about spirits. Supposedly people confuse spirits with the fey all the time, but the professor was very clear with me that the creatures out west are spirits, not fey. I'm still not too sure what the difference is or why it matters, but what I've gathered is that spirits are magical beings native to our world while the fey come from another realm.</p>
<p>Nonetheless, spirits seemed to be a broad group and an adventurer could run into any number of different types. There seem to be friendly spirits, who can often communicate if one speaks their language, but there are also aggressive spirits who are little more than natural disasters terrorizing the west. There are any number of spirits who fall somewhere between these two extremes as well.</p>