@{
    ViewData["Title"] = "Vindral";
    Layout = "~/Views/Asha/_AshaLayout.cshtml";
}

<h1>Vindral</h1>
<p>Vindral’s history can be traced back to the Vindt dwarven clan, which has acted as royalty within the country since its inception. Although welcoming of outsiders, Vindralians tend to highly value hierarchy and view an insult against a Vindt as an insult against all of Vindral. Nonetheless, they are known to be accepting - or at least tolerant - of outsiders so long as they respect their customs.</p>

<h2>Vinderhome</h2>

<h2>Sharnport</h2>