@{
    ViewData["Title"] = "Vindral";
    Layout = "~/Views/Asha/_AshaLayout.cshtml";
}

<h1>Vindral</h1>
<p>Vindral’s history can be traced back to the <a href="~/WorldInfo/Asha/groups#Vindt">Vindt</a> dwarven clan, which has acted as royalty within the country since its inception. Although welcoming of outsiders, Vindralians tend to highly value hierarchy and view an insult against a <a href="~/WorldInfo/Asha/groups#Vindt">Vindt</a> as an insult against all of Vindral. Nonetheless, they are known to be accepting - or at least tolerant - of outsiders so long as they respect their customs.</p>

<h2>Climate</h2>
<p>Much like <a href="~/WorldInfo/Asha/CEU">The CEU</a>, Vindral has a largely temperate environment. Perhaps where it differs most is that much of the nation is built inside the mountains of the region, thus isolating it from the elements altogether.</p>

<h2>Culture</h2>
<p>Although largely considered a dwarven nation, Vindral is also home to the largest amount of humans and infernals in all of <a href="~/Asha">The Three Nations</a>. In fact, within the coastal city of Sharnport, humans are found almost in equal numbers to dwarves.</p>
<p>Despite this, a dwarven family known as the <a href="~/WorldInfo/Asha/groups#Vindt">Vindt</a> have acted as royalty for as long as anyone can remember. While Vindralians tend to be tolerant of outsiders who respect their customs, they are well known to not put up with being direspected. It's said that many a bar fight has been started by a foreigner who thought it was a wise idea to insult a Vindralian's hard work or to disparage the Vindt.</p>

<h3>Religion</h3>
<p>While Vindralians are arguably the least religious people of the Three Nations, a lot of people do worship <a href="~/WorldInfo/Asha/Deities#SacredCraftsmen">Sacred Craftsmen</a> or <a href="~/WorldInfo/Asha/Deities#Ekmire">Ekmire</a>.</p> 
<p>While it isn't illegal to worship any deity, people will disapprove of worshiping <a href="~/WorldInfo/Asha/Deities#kalash">The Celestial Emperor</a> or <a href="~/WorldInfo/Asha/Deities#Tarkir">Tarkir</a>. Worship of Tarkir will especially make people uneasy, because a cult known as <a href="~/WorldInfo/Asha/groups#TarkirsFaithful">Tarkir's Faithful</a> have long infiltrated Vindralian society to recruit people for their cult and perform strange rituals involving unsuspecting citizens. While little is known of this cult, it's believed that their headquarters is somewher in the <a href="~/WorldInfo/Asha/DrechenExpanse">Drechen Expanse</a>.</p>

<h2>Brief History</h2>
<p>During the times of <a href="~/WorldInfo/Asha/Deities#kalash">The Celestial Emperor</a>, the dwarves of Vindral hadn't yet ventured outside of their mountains. They were content to spend their days hiding away in the cavernous depths where Asha's celestial invaders and the infernals who opposed them could not find them. During this time, they ended up offering sanctuary to many humans and even infernals who stumbled into their caves in search of safety.</p>
<p> It wasn't until almost a century after Kalash's death that the dwarves finally began to venture outside their caves. It would be even longer than that before they finally made peace with the other great nations, forming <a href="~/Asha">The Three Nations</a> everyone knows today.</p>

<p>While Vindral never had any particular problems with <a href="~/WorldInfo/Asha/CEU">The CEU</a>, it did once war with <a href="~/WorldInfo/Asha/Kalshan">Kalshan</a> over the landmass that would come to be known as <a href="~/Asha#Mandir">Mandir</a>.</p>

@* <h2>Vinderhome</h2>

<h2>Sharnport</h2> *@