<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/CssReset.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/css/PageSetup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Asha.css" asp-append-version="true" />
</head>
<body>
    <header class="navbar">
        <nav>
            <div>
                
                <ul>
                    <li class="homepage">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    
                    <li>
                        <a asp-area="" asp-controller="Asha" asp-action="Index">Overview</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Asha" asp-action="World">World</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Asha" asp-action="Deities">Deities</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Asha" asp-action="Groups">Groups</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Asha" asp-action="Chargen">Character Creation</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Asha" asp-action="Rules5e">Rules</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="pageLayout">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>

        <div class="container">
            &copy; 2024 - Jan Liggett - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
