@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AshaLayout.cshtml";
}

<h1>Attegans</h1>
<h4>Age</h4>
<p>Although Attegan's reach physical maturity around the same time as humans, they're known to live to be 400 years or older. After death, a new attegan will be born from their core as long as it remains intact.</p>
<h4>Ability Score Increase</h4>
<p> Gain +2 to one score of your choice and +1 to a different one.</p>
<h4>Sentient Plant</h4>
<p> You're able to naturally produce vines from your body, granting you the Thorn Whip cantrip at level 1. At 3rd level your mastery over your vines improves, granting the ability to cast Entangle once per long rest. At 5th level, you may cast Speak With Plants once per long rest. </p>
<h4>Emit Light</h4>
<p> You're able to emit bright fluorescent light from your body in a 20 foot radius and dim light for an additional 20. You can both emit and extinguish this light as a bonus action.</p>
<h4>Take Root</h4>
<p> Attegans don’t need to sleep. Instead they must take 2 hours to take root, then spend the next four hours in a sentry-like state. In this state you appear inert, but it doesn’t render you unconscious, and you can see and hear as normal.</p> <p>If only stone is available, it takes 4 hours to take root instead of two.</p>
<h4>Languages</h4>
<p> You can speak, read, and write Common and Sylvan.</p>