@{
    ViewData["Title"] = "The CEU";
    Layout = "_AshaLayout.cshtml";
}

<h1>The CEU</h1>
<p>The Cooperative Elven Union - most commonly called The CEU - isn’t a country so much as it is a collection of different city states on Seishun that have long worked together. Although The CEU is known to be wary of non-elven political entities, it overall has a cooperative culture that’s welcoming of anyone.</p>

<p>Most of The CEU is found on a region along Seishun's western border known as Merchant's Coast. Although Merchant's Coast has a temperate environment that most would find pleasant, it borders a massive desert that the locals know to avoid. </p>

<h2>Semdrali</h2>
<p>As the city-state lying on eastern coast, Semdrali has had more exposure to <a asp-area="" asp-controller="Asha" asp-action="Vindral">Vindral</a> and <a asp-area="" asp-controller="Asha" asp-action="Kalshan">Kalshan</a> than either of the other two city states. While it remains distinctly elven in comparison to those two nations, Semdralians have a royal family with celestial heritage and other parts of foreign cultures have bled into their own. So whether someone is looking to leave or enter The CEU, Semdrali is often their first stop.</p>

<h3>Fashion</h3>
<p></p>

<h2>Venlara</h2>
<p>Sequestered within Verdant Valley, Venlara is often called The City of Flowers thanks to the many colorful flowers found all over the city. The people here revere nature above all else and have long worked to live in harmony with it, which is why animals, leshy, and nature spirits are abundant within its borders. Perhaps this shouldn't come as a surprise, considering the city is largely ruled by druids.</p>

<h3>Fashion</h3>
<p></p>

<h2>Esalona</h2>
<p></p>
<p>As the city-state bordering the Seishunese West, Esalona is largely responsible for defending the people of Merchant's Coast from the wilderness. While considered a pleasant place to live, only those with a Citizen's Mark - a magical tattoo signifying their citizenship in Esalona - are considered citizens and afforded the privileges that entails. Nonetheless, Esalonians will welcome any non-citizen with money within Esalona's walls and anyone without is welcomed outside of them.</p>

<h3>Fashion</h3>
<p>Within the city, even the poorest Esalonian tends to prefer bright colors and loose fitting clothes. To wear drab, dull colors is seen as unfashionable at best and suspicious at worst. After all, why would someone wear black if they weren't trying to hide?</p>
<p></p>

