@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Character Creation";
    Layout = "_AshaLayout.cshtml";
}
    
<!-- Races of Asha -->
<h1>Races of Asha</h1>


<!-- Native Races -->
<h2>Native Races</h2>
<h3>Seishunese Elves</h3>
<p>Believed to make up 70% of the population on Merchant's Coast, these elves seem to be the most common race on Seishun.</p>
<p>While their appearance can vary greatly, they most commonly have tan skin and dark brown or black hair.</p>
<p><b>Stat block: </b>Choose between the stat blocks for wood elves, aereni wood elves, high elves, aereni high elves, or half-orcs. You can find these in the Player's Handbook and Eberron: Rising from the Last War.</p>
<h3>Green Elves</h3>
<p>Sometimes known as half-orcs due to their orcish heritage, the green elves of Lishara are known for their skill in magic. Nonetheless, not all green elves were raised in Lishara and some don't know any magic at all.</p>
<p><b>Stat block: </b>Choose between the stat blocks for wood elves, aereni wood elves, high elves, aereni high elves, or half-orcs. You can find these in the Player's Handbook and Eberron: Rising from the Last War.</p>
<h3>Harengon</h3>
<p>Supposedly brought to Seishun during a now infamous tea party, the bunny-like harengon are relatively new to Asha. Because of this they aren't often seen outside of Seishun.</p>
<h3>Humans</h3>
<p>The first humans in Seishun were escaped slaves from Akalush. Thanks to pressure from the Empire of Light, most humans in Seishun continue to live nomadic lives. Many of them live as pirates known for attacking Akalushan vessels.</p>
<h3>Half-Elves</h3>
<p>Half elves used to be a rare sight on Seishun, but this has become less true the longer humans have called Seishun home. These days it's not unusual to find half elves amongst human societies or even within larger more stationary settlements, where they are treated as no different from anyone else.</p>
<p>Yet while half elves of Seishunese descent rarely face problems, the union between human and celestial is considered shameful in Akalushan society.</p>

<!-- Immigrant Races -->
<h2>Immigrant Races</h2>
<p>While less common in Seishun, there are a sizeable number of immigrants from foreign lands. Whether they're adventurers seeking new experiences or people who have lived here their entire lives, they are nonetheless unlikely to hold any titles within Seishunese society.</p>
<h3>Celestial Elves</h3>
<p>Although not quite at the top of the Empire of Light's racial caste, celestial elves are given much privilege in Akalushan society thanks to their celestial heritage. In Seishun, what grants them privilege in Akalush often means they're treated with wariness by the common citizen and sometimes even hostility.</p>
<p>Unlike the elves of Seishun, celestial elves are distinguished by their golden eyes.</p>
<p><b>Stat block: </b>Choose between the stat blocks for wood elves, aereni wood elves, high elves, aereni high elves, or half-orcs. You can find these in the Player's Handbook and Eberron: Rising from the Last War.</p>
<h3>Aasimar</h3>
<p>Standing at the top of Akalush's racial caste, you're unlikely to see an aasimar unaccompanied by a platoon of guards. Like celestial elves their golden eyes betrays their celestial heritage, but in addition they also tend to give off a golden aura that they can hide at will.</p>
<h3>Attegans</h3>
<p>Attegans are a humanoid species of plant most commonly found in Akalush. Not much is known about their history, but they're occasionally seen on Seishun.</p>
<p><b>Stat block: </b>You can find their stat block <a asp-area="" asp-controller="Asha" asp-action="Attegan">here</a>.</p>
<h3>Dwarves</h3>
<p>Said to originate from Drechen, most dwarves are found either there or in Akalush. Nonetheless, it's not too unusual to find them on Merchant's Coast.</p>
<h3>Tiefling</h3>
<p>Rumored to have been borne from the union of humans and devils long ago, tieflings are considered an abomination by the Church of Light. Because of this, they're known to be killed on sight within Akalush.</p>
<p>The citizens of Seishun are unlikely to act with such blind prejudice, but most tieflings prefer to live nomadic lives for similar reasons as humans do.</p>

