@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Character Creation";
    Layout = "_AshaLayout.cshtml";
}
<p><b>A Note on Rarity:</b> Throughout the page, you'll find me describing different things as common, uncommon, or rare and talking about locations where they're most common. These categories are simply meant to inform character creation, and aren't meant to discourage choosing an option. For any character I'll want wasnt to know why they are where they are, which may look a bit different for a character with unusual traits.</p>
<p>If something isn't listed at all, that's when you'll need to ask me about it. It's possible I just forgot to add it, </p>

<h1>Ancestries</h1>
<p>Each of the Three Nations is comprised of different species who have come together to form communities. Some species are more common in one nation than others, but they can nonetheless be found anywhere.</p>


<h2>Common</h2>
<p>As one of the more common species of the Three Nations, you’re bound to blend right in somewhere even if you’re seen as a foreigner in some places.</p>
<h3>Elves</h3>
<p>Within The CEU, elves are by far the most common species. Their great cities dominate Seishun’s eastern coast, where they are largely content to live out their long lives working together to protect themselves against foreign threats.</p>
<h3>Humans</h3>
<p>It’s said that long ago, humans were caught in a great war between celestial and infernal invaders from other realms. Thanks to this their population has dwindled and they’ve been scattered across The Three Nations, but thankfully this war has long since ended and humans have been allowed the freedom to thrive once again.</p>
<h3>Celestials</h3>
<p>Although true celestials are a rare sight these days, it’s not uncommon at all for a person to have celestial heritage. Within the nation of Kalshan they are especially common, and most people there can claim celestial lineage of some sort.</p>
<p><b>Character creation:</b> Choose the “Nephilim” heritage.</p>
<h3>Dwarves</h3>
<p>Dwarves are considered to be the most common species in Vindral. They are mostly known for their craftsmanship, as well as their tendency to like living inside mountains. Yet in recent years, many have settled outside of their mountains.</p>

<h2>Uncommon</h2>
<p>As an uncommon sight within the Three Nations, you can expect being the subject of a few stares and possibly even gossip.</p>
<h3>Infernals</h3>
<p>Although not a common sight within the Three Nations, those with infernal heritage are quite distinguishable from other humanoids in appearance. Their skin tends to be unusual in color - often red, black, or some shade of blue - and they generally have horns of some kind. Some of them might have tails, claws, or other features indicative of their infernal heritage.</p>
<p>They are usually found in Vindral, but there are certainly those who migrate elsewhere.</p>
<p><b>Character creation:</b> Choose the “Nephilim” heritage.</p>
<h3>Green Elves</h3>
<p>Although far less common, there are elves with light-green skin who sometimes find their way to Merchant’s Coast. While most would call them green elves, they seem to come from a city hidden somewhere in the Seishunese West that they call Lishara. It’s not uncommon for them to be unusually skilled in magic.</p>
<h3>Gnomes</h3>
<p>Gnomes are diminutive humanoids thought to be descended from the fey.</p>
<h3>Leshy</h3>
<p>Leshy are nature spirits who have sometimes been found to build communities out in the wilderness. They aren't seen often within the Three Nations, but they they are reasonably common in <a href="~/WorldInfo/Asha/CEU#venlara">Venlara</a>.</p>
<h3>Monster Species</h3>
<p>Although people of these species appear within the Three Nations and some of them are well respected, they’re viewed as monster species because the majority of their members live out in the wilderness instead of civilization. Often living in tribes, they’re known for attacking travelers, raiding villages, and other behaviors that have left them with a bad reputation.</p>
<p><b>Character creation</b>: Choose an orc, goblin, kobold, or another ancestry that fits this category. If you’re unsure if an option counts, ask me.</p>
<br>

<h2>Rare</h2>
<p>As a member of a rare species, it’s a given that your existence is viewed as something of an anomaly. </p>
<h3>Androids</h3>
<p>Perhaps one of the most enigmatic technologies discovered within the ancient ruins has been the android. While some androids are visibly mechanical in nature, others are completely indistinguishable from humans, elves, or another of the more common species… at least on the outside.</p>
<p>Despite their mechanical nature, many people believe androids are alive since they seem to be capable of feeling emotions. No-one can seem to prove or disprove this, however.</p>
<h3>Constructs</h3>
<p>Constructs come in two categories: remnants from ancient ruins and modern recreations. Unlike androids, constructs are completely mechanical in appearance, and there’s no question as to whether or not they’re alive. They are machines, pure and simple.</p>
<p>Mysteriously though, some constructs do gain sentience through a process called awakening. The prevailing theory for this is that a spirit came to inhabit the construct, though this can’t be proven.</p>
<h3>Poppet</h3>
<p>Poppets are constructs created through magical means. They are usually associated with witches, particularly those living in the Seishunese West, but it’s believed that any spellcaster with the know-how to do so can create a poppet.</p>
<p>Like mechanical constructs, they sometimes gain sentience by awakening.</p>
<h3>Kitsune</h3>
<p>Kitsune are lesser fox spirits who were said to originate in Seishun’s western wilderness.</p>
<p>They have two forms: their true form, which is that of a fox, and a humanoid form, which is most commonly elven or human. It is also possible for them to reveal aspects of their true form while inhabiting their humanoid form, such as growing fox ears while otherwise looking like a normal elf. If a kitsune dies, they revert to their true form.</p>
<h3>Sprites</h3>
<p>Sprites are true fey and as such, they are not native to Asha. Nonetheless, it’s not unheard of for them to be found within the Three Nations even if they are a rare sight.</p>

<h1>Heritages</h1>
<p>Unless otherwise stated, feel free to use any heritage you wish for any of the available ancestries. Heritages may not necessarily match what the description says though, since those were created for the Golarion setting.</p>
<h2>Kitsune</h2>
<p>Since kitsune's true forms are foxes, I'm tweaking some kitsune heritages to replace their humanoid kitsune form with a fox form. This means every kitsune heritage's true form is a fox, following the <a href="https://2e.aonprd.com/Spells.aspx?ID=1626">pest form</a>.</p>

<h2>Arctic Heritages</h2>
<p>Due to the scarcity of arctic areas in the Three Nations, heritages that grant cold resistance are pretty rare. Vindral's mountains are the most likely place an arctic character might have come from, though coming from a family that fled the <a asp-area="WorldInfo" asp-controller="Asha" asp-action="AkalushanNorth">Akalushan North</a> or <a asp-area="WorldInfo" asp-controller="Asha" asp-action="DrechenExpanse">Drechen Expanse</a> is another possibility.</p>

<h2>Versatile Heritages</h2>
<p>Some within the Three Nations have heritages that aren't so easy to pin down.</p>

<ul>
    <li>Aiuvarin - What PF2e calls half-elves.</li>
    <li>Changlings</li>
    <li>Dhampir</li>
    <li>Dragonblood</li>
    <li>Dromaar - What PF2e calls half-orcs.</li>
    <li>Elemental - Basically renamed elemental heritages to all say elemental in Foundry.</li>
    <li>Nephilim - Includes celestial, fiends, and demons. </li>
    <li>Reflection</li>
</ul>

<h1>Ethnicity & Language</h1>
<p>Most people from the same nation speak the same language, but every adventurer knows <b>common</b>. This was a language created by <a href="~/WorldInfo/Asha/groups#wayfarers">The Wayfarers</a> to make it easy for adventurers to communicate with one another, so they've gone to great lengths to ensure most people know it.</p>

<h2>The CEU</h2>
<p>As a collection of city-states rather than a unified nation, ethnicities vary more than they do elsewhere. Nonetheless, most people speak Seishunese.</p>
<h3>Semdralian</h3>
<h3>Venlaran</h3>
<h3>Esalonian</h3>
<p>What it means to be an Esalonian varies a lot on whether or not a person has a <a href="~/WorldInfo/Asha/CEU#esalona">Citizen's Mark</a>. Even the poorest citizen is likely to be a bit of a clean freak who .</p>
<h3>Darjan</h3>
<p>Hailing from the independent city-state of Darjal, Darjans are mostly human descendents from the <a href="~/WorldInfo/Asha/groups#darja">Darja clan</a>. They have long been free spirits who found said freedom on the sea, which is why so many of them are sailors, pirates, or seafaring adventurers.</p>
<h3>Lisharan</h3>
<p>Coming from <a href="~/WorldInfo/Asha/SeishuneseWest#lishara">a lost city in the Seishunese West</a>, Lisharans are perhaps an even rarer sight than the green elves who came from there. They tend to be naturally gifted in magic.</p>
<p></p>

<h2>Kalshan</h2>
<h3>Kalshanese</h3>
<p></p>
<h3>Akalushan</h3>

<h2>Vindral</h2>
<h3>Vindralian</h3>

<h1>Classes</h1>
<p>Although some professions tend to be more common in one area than another, adventurers are an unusual bunch and one can find a profession anywhere.</p>

<h1>Deities</h1>
<p><a href="~/WorldInfo/Asha/Deities">Information about Asha's deities can be found here</a>.</p>
<p>That said, if you've got a particular type of deity in mind that isn't represented yet, feel free to work with me to create a deity.</p>