@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Character Creation";
    Layout = "_AshaLayout.cshtml";
}
    
<h1>Races of the Three Nations</h1>
<p>Each of the Three Nations is comprised of different races who have come together to form communities. Some races are more common in one nation than others, but they can nonetheless be found anywhere.</p>

<h2>Common Races</h2>
<p>As one of the more common races of the Three Nations, you’re bound to blend right in somewhere even if you’re seen as a foreigner in some places.</p>
<h3>Elves</h3>
<p>Within The CEU, elves are by far the most common race. Their great cities dominate Seishun’s eastern coast, where they are largely content to live out their long lives working together to protect themselves against foreign threats.</p>
<h3>Humans</h3>
<p>It’s said that long ago, humans were caught in a great war between celestial and infernal invaders from other realms. Thanks to this their population has dwindled and they’ve been scattered across The Three Nations, but thankfully this war has long since ended and humans have been allowed the freedom to thrive once again.</p>
<h3>Celestials</h3>
<p>Although true celestials are a rare sight these days, it’s not uncommon at all for a person to have celestial heritage. Within the nation of Kalshan they are especially common, and most people there can claim celestial lineage of some sort.</p>
<p><b>Character creation:</b> Choose the “Nephilim” heritage.</p>
<h3>Dwarves</h3>
<p>Dwarves are considered to be the most common race in Vindral. They are mostly known for their craftsmanship, as well as their tendency to like living inside mountains. Yet in recent years, many have settled outside of their mountains.</p>

<h2>Uncommon Races</h2>
<p>As an uncommon sight within the Three Nations, you can expect to be subject to a few stares at the very least.</p>
<h3>Infernals</h3>
<p>Although not a common sight within the Three Nations, those with infernal heritage are quite distinguishable from other humanoids in appearance. Their skin tends to be unusual in color - often red, black, or some shade of blue - and they generally have horns of some kind. Some of them might have tails, claws, or other features indicative of their infernal heritage.</p>
<p>They are usually found in Vindral, but there are certainly those who migrate elsewhere.</p>
<p><b>Character creation:</b> Choose the “Nephilim” heritage.</p>
<h3>Green Elves</h3>
<p>Although far less common, there are elves with light-green skin who sometimes find their way to Merchant’s Coast. While most would call them green elves, they seem to come from a city hidden somewhere in the Seishunese West that they call Lishara. It’s not uncommon for them to be unusually skilled in magic.</p>
<h3>Gnomes</h3>
<p>Gnomes are diminutive humanoids thought to be descended from the fey.</p>
<h3>Orcs</h3>
<h3>Goblins</h3>
<h3>Kobolds</h3>
<br>

<h2>Rare Races</h2>
<p>As a member of a rare race, it’s a given that the people of the Three Nations will find you unusual. Chances are your existence is viewed as something of an anomaly.</p>
<h3>Androids</h3>
<p>Perhaps one of the most enigmatic technologies discovered within the ancient ruins has been the android. While some androids are visibly mechanical in nature, others are completely indistinguishable from humans, elves, or another of the more common races… at least on the outside.</p>
<p>Despite their mechanical nature, many people believe androids are alive since they seem to be capable of feeling emotions. No-one can seem to prove or disprove this, however.</p>
<h3>Constructs</h3>
<p>Constructs come in two categories: remnants from ancient ruins and modern recreations. Unlike androids, constructs are completely mechanical in appearance, and there’s no question as to whether or not they’re alive. They are machines, pure and simple.</p>
<p>Mysteriously though, some constructs do gain sentience through a process called awakening. The prevailing theory for this is that a spirit came to inhabit the construct, though this can’t be proven.</p>
<h3>Poppet</h3>
<p>Poppets are constructs created through magical means. They are usually associated with witches, particularly those living in the Seishunese West, but it’s believed that any spellcaster with the know-how to do so can create a poppet.</p>
<p>Like mechanical constructs, they sometimes gain sentience by awakening.</p>
<h3>Kitsune</h3>
<p>Kitsune are lesser fox spirits who were said to originate in Seishun’s western wilderness.</p>
<p>Kitsune have two forms: their true form, which is that of a fox, and a humanoid form, which is most commonly elven or human. It is also possible for them to reveal aspects of their true form while inhabiting their humanoid form, such as growing fox ears while otherwise looking like a normal elf. If a kitsune dies, they revert to their true form.</p>
<p><b>Note:</b> Although the Pathfinder rulebook states that their kitsune form is humanoid, in Asha, their fox form is quadrupedal. I may homebrew something for this if I feel it’s necessary.</p>
<h3>Sprites</h3>
<p>Sprites are true fey and as such, they are not native to Asha. Nonetheless, it’s not unheard of for them to be found within the Three Nations even if they are a rare sight.</p>
<h3>Leshy</h3>
<p>It’s unknown if Leshy are true fey or if they’re more akin to nature spirits. Regardless of what they are, these plant-like creatures have been sighted all over Asha and have been known to create small communities in the wild.</p>

<h1>Languages</h1>
<p>The Three Nations are a diverse place, so naturally there are a lot of different languages being spoken.</p>

<h2>Common Languages</h2>
<p><b>Common</b> - Also sometimes called “Wayfarer,” common was a language developed by The Wayfarers to make it easy for adventurers to communicate with one another. While every player-controlled adventurer knows common, most non-adventurers do not. </p>
<p>Kalshanese - The majority language spoken in Kalshan. </p>
<p>Seishunese - Majority language spoken in The CEU.</p>
<p>Vindralian - The majority language spoken in Vindral.</p>
<p>Darjan - A language spoken by the Darja clan. </p>

<h2>Uncommon Languages</h2>