@{
    ViewData["Title"] = "Drechen Expanse";
    Layout = "_AshaLayout.cshtml";
}

<h2>The Drechen Expanse</h2>
<p>Beyond Vindral, Drechen’s wilderness - often called The Drechen Expanse - seems to stretch on forever. It’s a place full of dangerous beasts for sure, but perhaps what it’s most infamous for is the cult known as Tarkir’s Faithful.</p>
<p>No-one knows how many of them there are or where their base is located, but the cult seems to be made up of infernals who live out in that wilderness. Any attempts to settle on The Expanse have been thwarted by this cult and since the Vindt have decided it’s more trouble than it’s worth, Vindral has largely given up on settling there.</p>