@{
    ViewData["Title"] = "Asha";
    Layout = "_AshaLayout.cshtml";
}

<div class="center">
    <h1 class="sectionHeader">The Three Nations</h1>
    <img class="worldMap" src="~/Images/Maps/Asha - Middle Sea Nations.jpg">
</div>

<p>Within Asha, there are three great nations of note: Kalshan, the CEU, and Vindral. Not only are they the biggest and most influential, but they have also held an unsteady alliance throughout most of their history.</p>

<div class="deck">
    <a class="card" asp-area="WorldInfo" asp-area="" asp-controller="Asha" asp-action="Kalshan">Kalshan</a>
    <a class="card" asp-area="WorldInfo" asp-area="" asp-controller="Asha" asp-action="CEU">The CEU</a>
    <a class="card" asp-area="WorldInfo" asp-area="" asp-controller="Asha" asp-action="Vindral">Vindral</a>
</div>

<h2>Other Nations</h2>
<p>Although the Three Nations control the The Middle Sea, there are other nations at play within Asha. While some of these nations are unknown, there are those that most within the Three Nations would know about.</p>
<h3 id="Mandir">Mandir</h3>
<p>Formerly the source of a long territory dispute between Vindral and Kalshan, the two nations eventually decided to found a new country with a mix of both their people in the name of peace. Now Mandir is one of the safest places to live in the Three Nations, thanks to wide-scale efforts to eradicate monsters in the land and its insulation from more dangerous wilderness.</p>
<h3>Darjal</h3>
<p>Founded by the Darja clan at some point in history, Darjal is a city state in Seishun that remains wholly independent from The CEU. At least within the Three Nations, it is the largest known human country, although there are plenty of elves, dwarves, and other species living there as well.</p>

<h1>The Wilderness</h1>
<p>While the Three Nations are powerful, they aren't the most powerful forces at play in Asha. Not when there are ancient dragons, greater spirits, living gods, and even legendary outlaws off doing who knows what. While such individuals rarely appear within the Three Nations, it's well known that they're out there lurking in the wilderness surrounding them.</p>

<p>For all these reasons and more, the wilderness bordering these civilizations has become especially notorious. It’s said that the Three Nations put more work into fortifying their borders against the wilderness than they do against each other, even during times of war.</p>

<div class="deck">
    <a class="card" asp-area="WorldInfo" asp-controller="Asha" asp-action="SeishuneseWest">Seishunese West</a>
    <a class="card" asp-area="WorldInfo" asp-controller="Asha" asp-action="DrechenExpanse">Drechen Expanse</a>
    <a class="card" asp-area="WorldInfo" asp-controller="Asha" asp-action="AkalushanNorth">Akalushan North</a>
</div>


<h1>Technology</h1>
<p>It wouldn’t be fully accurate to call the Three Nations medieval, because magic and the few successful attempts to recreate Lost Empire technology have progressed technology a bit beyond that. Nonetheless, those in the Three Nations do not know what electricity is and the closest thing they’ve got to a vehicle is a horse drawn carriage.</p>
<h2>Lost Empire Technology</h2>
<div>
    <p>Despite the Three Nations technology, technology that is far more advanced is sometimes recovered from ancient ruins. Said to come from a long forgotten empire, Lost Empire technology is beyond comprehension, extremely durable, and worth a lot of money. There has been some success in recreating this technology, but even the modern recreations tend to be incredibly basic in comparison to the real thing.</p>
    <p>Although this technology is usually discovered within Vindral, it has been known to be found in Kalshan as well. It has not yet been found in Seishun except when imported for trade, which has led historians to believe the Lost Empire didn't have a foothold on the continent of Seishun.</p>
    <h2>Guns</h2>
    <p>The people of the Three Nations have had some success with recreating guns, but these tend to be incredibly basic in comparison to the types of of guns salvaged from Lost Empire ruins.</p>
</div>