@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Asha";
    Layout = "_AshaLayout.cshtml";
}

<div>

    <p>If the ancient ruins littering the wilderness are anything to go by, then one can assume that Asha is an old world with eons of history. Interestingly though, many of these same ruins are filled with ancient technology that far surpasses anything people are capable of creating today.</p>

    <p>Yet despite the technological marvels that have been found within, these ruins create more questions than answers. No-one can seem to figure out how this technology works, so it hasn’t advanced people’s understanding of the world at all. No-one can seem to figure out what brought these ancient civilizations to ruin either. </p>

    <p>People have come to call this mysterious civilization The Lost Empire, but little else is known about it.</p>
</div>