@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Asha";
    Layout = "_AshaLayout.cshtml";
}

<div>
    @* <a asp-controller="Asha/Rules">Game Rules</a> *@
    <h1>The Unclaimed Lands</h1>

    <p>No matter where you go, Asha is full of a vast wilderness that remains unexplored. At least, that seems to be the case in the modern day, but there is plenty of proof that the unexplored wilderness was once dominated by ancient civilizations that have long been lost.</p>

    <p>It's said there's not a person alive who knows why these civilizations fell to ruin, but one thing is certain: that wilderness remains unsettled for a reason. The regions where these civilizations once stood are dominated by dangers that no ordinary person could hope to face, so even the powerful largely prefer to lead quiet lives sequestered away behind grand city walls amongst people who can help keep them safe.</p>

    <p>Yet despite the danger, the lure of fame and riches have drawn many an adventurer to their deaths. For while the people of Asha have created some wondrous things, nothing can compare to some of the technology that has been recovered from those ruins. That's not to say Asha's top minds haven't managed to reverse engineered some of this lost technology and unraveled the secrets of how it works, because they most certainly have. However, even they struggle to reverse engineer the more unusual - and by extension - technologies that have been unearthed. There have even been cases of someone uncovering a truly powerful artifact that changed civilizations or threw the world into chaos..</p>
</div>