@{
    ViewData["Title"] = "Asha";
    Layout = "_AshaLayout.cshtml";
}

<div class="center">
    <h1 class="sectionHeader">The Three Nations</h1>
    <img class="worldMap" src="~/Images/Maps/Asha - Middle Sea Nations.jpg">
</div>

<p>Within Asha, there are three great nations of note: Kalshan, the CEU, and Vindral. Although other civilizations are known to exist, these three are the biggest and most influential, which is why the people of Asha simply call them The Three Nations.</p>

<div class="deck">
    <a class="card" asp-area="" asp-controller="Asha" asp-action="Kalshan">Kalshan</a>
    <a class="card" asp-area="" asp-controller="Asha" asp-action="CEU">The CEU</a>
    <a class="card" asp-area="" asp-controller="Asha" asp-action="Vindral">Vindral</a>
</div>

<h1>The Wilderness</h1>
<p>While the Three Nations are powerful, they aren't the most powerful forces at play in Asha. Not when there are ancient dragons, greater spirits, living gods, and even legendary outlaws off doing who knows what. While such individuals rarely appear within the Three Nations, it's well known they lurk in the wilderness surrounding them.</p>

<p>For all these reasons and more, the wilderness bordering these civilizations has become especially notorious. It’s said that the Three Nations put more work into fortifying their borders against the wilderness than they do against each other, even during times of war.</p>

<div class="deck">
    <a class="card" asp-area="" asp-controller="Asha" asp-action="SeishuneseWest">Seishunese West</a>
    <a class="card" asp-area="" asp-controller="Asha" asp-action="DrechenExpanse">Drechen Expanse</a>
    <a class="card" asp-area="" asp-controller="Asha" asp-action="AkalushanNorth">Akalushan North</a>
</div>

<h1>Other Nations</h1>
<p>Although the Three Nations control the The Middle Sea, there are other nations at play within Asha. While some of these nations are unknown, there are those that most within the Three Nations would know about.</p>
<h2>Mandir</h2>
<p>Formerly the source of a long territory dispute between Vindral and Kalshan, the two nations eventually decided to found a new country with a mix of both their people in the name of peace. Now Mandir is one of the safest places to live in the Three Nations, thanks to wide-scale efforts to eradicate monsters in the land and its insulation from more dangerous wilderness.</p>
<h2>Darjal</h2>
<p>Founded by the Darja clan at some point in history, Darjal is a city state in Seishun that remains wholly independent from The CEU. At least within the Three Nations, it is the largest known human country, although there are plenty of elves, dwarves, and other species living there as well.</p>

<div>
    <p>If the ancient ruins littering the wilderness are anything to go by, then one can assume that Asha is an old world with eons of history. Interestingly though, many of these same ruins are filled with ancient technology that far surpasses anything people are capable of creating today.</p>

    <p>Yet despite the technological marvels that have been found within, these ruins create more questions than answers. No-one can seem to figure out how this technology works, so it hasn’t advanced people’s understanding of the world at all. No-one can seem to figure out what brought these ancient civilizations to ruin either. </p>

    <p>People have come to call this mysterious civilization The Lost Empire, but little else is known about it.</p>
</div>