@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AshaLayout.cshtml";
}

<h1>The Five Lords</h1>
<p>
    It’s said that when the Celestial Emperor’s rule came to an end, it was because he was slain by five legendary warriors. By killing Kalash they took his place on the celestial throne and became gods themselves, thus ushering in a new era.
    While there are those who resent the Five Lords for killing Kalash, most people familiar with Kalshan’s history think that slaying him was justified. With many oracles now hearing the Five Lords instead of Kalash, worship of them has flourished and they’ve become the dominant deities worshiped in Kalshan.
</p>
<p><b></b> - </p>
<p><b></b> - </p>
<p><b></b> - </p>
<p><b></b> - </p>
<p><b></b> - </p>

<h1>Western Spiritualism</h1>
<p>Western Spiritualism - often just called Spiritualism in Seishun - is the belief that spirits inhabit all things found naturally in nature. While some spiritualists worship a specific spirit, most revere nature itself and view it as sacred. While not commonly practiced outside of Seishun, it remains the majority religion on that continent.</p>
<p>Because of how spiritualists practice their faith, it's unusual for them to have a central place of worship. Instead they build shrines to venerate the spirits, which the people of Seishun are known to leave offerings at.</p>

<h1>Nessthiss</h1>
<p>Often referred to as the Lady of Dreams, Nessthiss represents secrets, knowledge, and unanswered questions. She is generally associated with white snakes, which are considered sacred by her followers. While she's said to rarely speak, it's said that she always imparts some great truth when she does..</p>
<p>Although this religion is mostly found in Seishun, it can be found anywhere in Asha thanks to the Oracle's of Nessthiss, who experience strange dreams of her. The way she's worshipped can vary wildly from place to place, but they all tend to gather around an Oracle of Nessthiss in the hope of being granted a great truth by the Lady of Dreams.</p>

<h1>Ekmire</h1>
<p>Also called the Under Prince, Ekmire is a deity said to represent devils and the things which lurk in the dark. His benevolent worshipers tend to think of him as a misunderstood god who once fought against celestial tyranny, while his less benevolent ones claim devils are the rightful rulers of Asha. For these reasons, he is rarely openly worshiped within the Claimed Lands.</p>
<p>Yet while worshiping Ekmire may is frowned upon, it is not illegal.</p>

<h1>The Sacred Craftsmen</h1>
<p>The Sacred Craftsmen refers to three gods said to hold dominion over the mountains in Asha and the metals within. Although </p>
<p>They are legendary craftsmen as much as they are gods, who are said to be responsible for legendary items of unknown make. When a volcano erupts it is said to be the work of Thierna, lighting the forge for one of her creations. When the earth rumbles, it is the work of Adamant transforming iron into the sacred metal that shares his name. When a blacksmith finishes a work unlike any other, he can thank Leabhar, The Mentor, for blessing him in his craft.</p>
<h2>Thierna</h2>
<p>Said to represent creativity, , and , </p>
<h2>Adamant</h2>
<p>Adamant represents resilience, good fortune, </p>
<h2>Leabhar</h2>
<p></p>

<h1>The Celestial Emperor</h1>
<p>Said to have been the dominant deity on Akalush long ago, worship of the Celestial Emperor has long fallen out of favor. Yet even so, worship of him continues into the modern day.</p>
<p>The religion has a bit of a bad reputation, thanks to its more radical worshipers who see devils as abominations to be slain and humans as a race to be enslaved.</p>
@* <p>The Celestial Emperor is often depicted as a sword gleaming with radiant light. The most common order serving him is the Order of Light, whose goal is to vanquish devils, enslave the human race, and guide people onto what they believe to be the proper path. </p>
<p>He's said to rule over the Empire of Light by his followers, but those outside of this religion tend to be skeptical of this claim.</p> *@