@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Rules";
    Layout = "_AshaLayout.cshtml";
}


<p>For now I've included the rules to come to mind, but this page is liable to change during our session 0. Session 0 is normally where we discuss boundaries and other things that need to be talked about before playing.</p>

<h1>The Hexmap</h1>
<p>For this campaign, I'm making use of a hex maps for exploration. Instead of trying to keep track of everything in miles, I'm instead rewriting things so that travel is represented in hexes per day.</p>
<p>While traveling, you'll want to keep the following in mind:</p>
<ul>
    <li>A party of adventurer can explore four hexes in a day.</li>
    <li> Some hexes take longer to traverse, and may come with special considerations.</li>
    <li>I'll be populating the map with stuff to find, so don't hesitate to explore!</li>
</ul>
<p><a asp-controller="Asha" asp-action="TravelRules">For further details on travel, please click here for a full explanation of travel rules and how this stuff is being calculated.</a></p>

<h2>Further Notes</h2>
<p>I've also tweaked a few rules and taken a few liberties with my world building that I feel are worth noting.</p>
<p><b>Goodberry enchants berries</b></p>
<p>Instead of conjuring berries, Goodberry instead now enchants up to 10 berries. </p>
<p><b>Common isn't so common</b></p>
<p>The "Wayfarer's Cant" - commonly known as "Common" - is a language invented by the League of Adventurers to help adventurers easily communicate. Since its creation, it's become far more common to meet an adventurer who knows common than one who doesn't.</p>
<p>Despite this, your average citizen doesn't know the cant. They tend to know only the local language, which can make it difficult for at times for an adventurer to communicate with the locals.</p>


@* <h1>House Rules</h1>
<p>These are things I'm either changing from base D&D or rules I felt are worth clarifying.</p>
<p><b>PVP is consensual: </b>If a player attempts to steal from another player, the victim player decides if they're successful. They may choose to ask them to make a sleight of hand check... or they can say they're immediately caught.</p>
<p><b>Help action requires proficiency: </b>In order to use the help action, you need to have proficiency in that skill.</p>
<p><b>Stealth rolls are group checks: </b>When multiple people are trying to be stealthy, success is determined by majority. If half or more of the party succeeds, then everyone succeeds.</p> *@

