@{
    ViewData["Title"] = "Seishunese West";
    Layout = "_AshaLayout.cshtml";
}

<h1>The Seishunese West</h1>

<p>It’s long been said that the further west you travel in Seishun, the more the boundary between life and death blurs. Whether this is an exaggeration or not, everyone in <a asp-area="" asp-controller="Asha" asp-action="CEU">The CEU</a> knows that the west is a dangerous place full of spirits, fey, and the undead. </p>
<p>Amongst all the continents, Seishun seems to be the one with the fewest Lost Empire ruins. Instead Seishun tends to have elven ruins, forgotten shrines, and other oddities hidden away in its wilderness.</p>

<h1>Known Groups</h1>
<p>Despite the dangers of the Seishunese West, there are people who call this place their home… even if they do have a tendency to be outcasts who have their own reasons for living outside of The CEU.</p>

<h2>The City Lishara</h2>
<p>Although few have actually been to Lishara, it's well known by the people of Esalona that this city exists. If the fact this is where green elves came from isn't proof enough, even famous adventurers have spoken of this fabled city.</p>
<p>Lishara seems to be a heavily fortified city where magic is a part of every day life. Even the lowest commoner there tends to know a spell or two, and it's been reported that the city itself is ruled by an archmage of great power. It is also supposedly home to the most prestigious Magical University in all of Asha, which is a bold claim indeed.</p>
<p>The people of Lishara overall seem to be friendly, so an adventurer traveling the west may find sanctuary there.</p>

<h2>Hyrenteer</h2>
<p></p>