@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AshaLayout.cshtml";
}

<div class="center">
    <h1 class="sectionHeader">The Three Nations</h1>
    <img class="worldMap" src="~/Images/Maps/Asha - Middle Sea Nations.jpg">
</div>

<p>Within Asha, there are three great nations of note: Kalshan, the CEU, and Vindral. Although other civilizations are known to exist, these three are the biggest and most influential, which is why the people of Asha simply call them The Three Nations.</p>

<h1>Kalshan</h1>
<p>It’s said that long ago, Kalshan was a great empire that stretched across Akalush. Some within Kalshan resent what it has become, viewing it as nothing more than a shell of a once great empire that’s slowly falling to the Akalushan wilderness. Others are ashamed of its history and believe the nation isn’t doing enough to right the wrongs once committed under the Celestial Emperor’s rule.</p>
<p>Regardless of how one feels about Kalshan, it remains one of the three most powerful nations in Asha. It has its problems, but they can be rather minor when compared to those of a smaller city state.</p>
<p>As the northernmost nation it is also the most tropical, so Kalshan is dominated by tropical rainforests and savannahs. However, it is known that there are also great deserts to the north.</p>

<h1>The CEU</h1>
<p>The Cooperative Elven Union - most commonly called The CEU - isn’t a country so much as it is a collection of different city states on Seishun that have long worked together. Although The CEU is known to be wary of non-elven political entities, it overall has a cooperative culture that’s welcoming of anyone.</p>
<p>The part of Seishun that The CEU resides on - known as Merchant’s Coast - is largely a temperate environment. It borders a massive desert, which those on Merchant’s Coast know to avoid. </p>

<h1>Vindral</h1>
<p>Vindral’s history can be traced back to the Vindt dwarven clan, who have acted as royalty within the country since its inception. Although welcoming of outsiders, Vindralians tend to highly value hierarchy and view an insult against a Vindt as an insult against all of Vindral. Nonetheless, they are known to be accepting - or at least tolerant - of outsiders so long as they respect their customs.</p>
<p>A big thing Vindral is known for is lost technology, since Drechen seems to have the largest concentration of Lost Empire ruins.</p>

<h1>The Wilderness</h1>
<p>While the Three Nations are powerful, there are plenty of threats too powerful even for them to handle. Ancient dragons, greater spirits, living gods, and even legendary outlaws are known to inhabit the untamed wilds of these lands.</p>
<p>For all these reasons and more, the wilderness bordering these civilizations have become especially notorious. It’s said that the Three Nations put more work into fortifying their borders against the wilderness than they do against each other, even during times of war.</p>

<h2>The Seishunese West</h2>
<p>It’s long been said that the further west you travel in Seishun, the more the boundary between life and death blurs. Whether this is an exaggeration or not, everyone in Seishun knows that the west is a dangerous place full of spirits, fey, and the undead. Despite all this, there are people who call the Seishunese west their home… even if they do have a tendency to be outcasts who have their own reasons for living outside of The CEU.</p>
<p>Amongst all the continents, Seishun seems to be the one with the fewest Lost Empire ruins. Instead Seishun tends to have elven ruins, forgotten shrines, and other oddities hidden away in its wilderness.</p>

<h2>The Akalushan North</h2>
<p>It’s said that during the times of the Celestial Emperor, Kalshan was a great empire that stretched far into the north. Most believe Kalshan became too weak to survive in the north after the Celestial Emperor’s disappearance, but no-one knows for sure.</p>
<p>What is known is that the Akalushan North is dangerous enough to be considered uninhabitable for the average person. Dangerous monsters are quick to kill any would-be settlers who dare to venture into the more verdant parts of the Akalushan North, while other parts of it simply lack the nutrition to sustain a population. The ruins adventurers have spoken of seem like proof that people lived here once, but for now the wilderness remains untamed.</p>

<h2>The Drechen Expanse</h2>
<p>Beyond Vindral, Drechen’s wilderness - often called The Drechen Expanse - seems to stretch on forever. It’s a place full of dangerous beasts for sure, but perhaps what it’s most infamous for is the cult known as Tarkir’s Faithful.</p>
<p>No-one knows how many of them there are or where their base is located, but the cult seems to be made up of infernals who live out in that wilderness. Any attempts to settle on The Expanse have been thwarted by this cult and since the Vindt have decided it’s more trouble than it’s worth, Vindral has largely given up on settling there.</p>