/*@import url('worldhub.css');*/
:root {
    --blue: #190735;
    --purple: #3F0D4C;
    --pink: #C874B2;
    --lightPink: #F5D5E0;
    --almostWhite: #F4DEDE;
    --charcoal: #3B4356;
    --charcoal-opaque: rgb(59, 67, 86, 0.7);
}

.navbar {
    background-color: var(--purple);
}

.navbar a {
    color: var(--almostWhite);
}

.navbar a:hover {
    background-color: var(--blue);
    color: var(--pink);
}

/* */

body {
    background-image: url('../Images/Starfields/Starfield 1 - 512x512.png');
    color: var(--almostWhite);
}

.pageLayout {
    background-color: var(--charcoal-opaque);
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 6px solid;
    border-top: none;
    border-bottom: none;
}

a {
    color: white;
}

#worlds {
    display: flex;
/*    padding: 20px;*/
}

.worldContainer {
    margin-right: 20px;
    margin-top: 10px;
    width: 250px;
    height: 300px;
}

a.world {
    display: flex;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.world img {
    display: flex;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    /*background-position: center;*/
    /*background-size: 500px;*/
}

.world img {
    /*max-width: 100%;
    max-height: 100%;*/
}

a.banner {
    display: flex;
    justify-content: center;
    background-color: var(--charcoal);
    font-size: 1.4em;
    text-decoration: none;
    margin-top: 4px;
    /*padding: 2px;*/
    
}

/* Footer */
footer {
    background-color: var(--charcoal);
    border-top: 4px solid var(--almostWhite);
    /*padding: 18px;*/
    /*    display: inline;*/
}